{% extends "base/base.html" %} {% load static %} {% load humanize %}
{% block title %} Dashboard {% endblock %}
{% block main %}
					<div class="side-app">
						<div class="page-header">
							<div>
								<h1 class="page-title">Dashboard 01</h1>
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="#">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Dashboard 01</li>
								</ol>
							</div>
							{% if rekening %}
								{% if request.user.role == 'admin' or request.user.role == 'developer' %}
								<!-- Jika user punya rekening -->
								<div class="ms-auto pageheader-btn">
									<a href="#" data-bs-target="#modaldemo1" data-bs-toggle="modal" class="btn btn-warning btn-icon text-white">
										<span>
											<i class="fe fe-plus"></i>
										</span> Tambah Rekening
									</a>
									<a href="#" data-bs-target="#modalTambahTransaksi" data-bs-toggle="modal" class="btn btn-success btn-icon text-white">
										<span>
											<i class="fe fe-log-in"></i>
										</span> Tambah Transaksi
									</a>
								</div>
								{% else %}
								<div class="ms-auto pageheader-btn">
									<a href="#" data-bs-target="#modalTambahTransaksi" data-bs-toggle="modal" class="btn btn-success btn-icon text-white">
										<span>
											<i class="fe fe-log-in"></i>
										</span> Tambah Transaksi
									</a>
								</div>
								{% endif %}
							{% else %}
								{% if request.user.role == 'admin' or request.user.role == 'developer' %}
									<!-- Jika user belum punya rekening -->
									<div class="ms-auto pageheader-btn">
										<a href="#" data-bs-target="#modaldemo1" data-bs-toggle="modal" class="btn btn-warning btn-icon text-white">
											<span>
												<i class="fe fe-plus"></i>
											</span> Tambah Rekening
										</a>
									</div>
								{% endif %}
							{% endif %}

						</div>
						<!-- PAGE-HEADER END -->

						<!-- ROW-1 -->
						<div class="row">
							{% if rekening %}
								{% for rek in rekening %}
								<div class="col-lg-4 col-md-6 col-sm-12">
									<div class="card overflow-hidden mb-3">
										<div class="card-body">
											<div class="row">
												<div class="col">
													<h5 class="fw-bold text-primary">{{ rek.nama_rek }}</h5>
													<h3 class="mb-2 number-font">Rp {{ rek.saldo|intcomma }}</h3>
												</div>
												<div class="col col-auto">
													<div class="counter-icon bg-primary-gradient box-shadow-primary brround ms-auto">
														<i class="fe fe-credit-card text-white mb-5"></i>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								{% endfor %}
							{% else %}
								{% if request.user.role == 'admin' or request.user.role == 'developer' %}
								<div class="col-12">
									<div class="card mb-3">
										<div class="card-body text-center">
											<p class="mb-0">Anda belum memiliki rekening.</p>
										</div>
									</div>
								</div>
								{% else %}
								<div class="col-12">
									<div class="card mb-3">
										<div class="card-body text-center">
											<p class="mb-0">Admin belum memiliki rekening.</p>
										</div>
									</div>
								</div>
								{% endif %}
							{% endif %}
						</div>
                        
						
						<!-- ROW-1 END -->


						<!-- ROW-5 -->
						<div class="row">
							<div class="col-12 col-sm-12">
								<div class="card ">
									<div class="card-header">
										<h3 class="card-title mb-0">Total Transaksi Perjenis</h3>
									</div>
									<div class="card-body">
										<!-- Dropdown filter bulan -->
										<form method="get" class="mb-3">
											<label for="bulan" class="form-label">Pilih Bulan:</label>
											<select name="bulan" id="bulan" class="form-select d-inline w-auto" onchange="this.form.submit()">
											{% for m in allowed_months %}
												<option value="{{ m.month }}" {% if m.month == bulan and m.year == tahun %}selected{% endif %}>
												{{ m.label }}
												</option>
											{% endfor %}
											</select>
											<input type="hidden" name="tahun" value="{{ tahun }}">
										</form>

										{% if chart_data and chart_labels %}
											<div id="transaksiChart"></div>

											<!-- ApexCharts CDN -->
											<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
											<script>
											const options = {
												chart: {
												type: 'bar',
												height: 350,
												toolbar: { show: false }
												},
												plotOptions: {
												bar: {
													borderRadius: 8,
													horizontal: false,
													columnWidth: '55%',
												},
												},
												dataLabels: { enabled: true },
												stroke: {
												show: true,
												width: 2,
												colors: ['transparent']
												},
												series: [{
												name: "Jumlah Transaksi",
												data: {{ chart_data|safe }}
												}],
												xaxis: {
												categories: {{ chart_labels|safe }},
												},
												yaxis: {
												title: { text: 'Jumlah' }
												},
												fill: {
												opacity: 0.9,
												colors: ['#4CAF50']
												},
												tooltip: {
												y: {
													formatter: function (val) { return val + " transaksi"; }
												}
												}
											};

											const chart = new ApexCharts(document.querySelector("#transaksiChart"), options);
											chart.render();
											</script>
										{% else %}
											<p class="text-center text-muted">Belum ada transaksi di bulan ini.</p>
										{% endif %}
										</div>



									</div>
								</div>
							</div><!-- COL END -->
						</div><!-- ROW-5 END -->
					</div>
				</div>
				<!-- CONTAINER END -->
            </div>
			<div class="modal fade" id="modalTambahTransaksi" tabindex="-1" aria-labelledby="modalTambahTransaksiLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTambahTransaksiLabel">Tambah Transaksi</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'app:tambah_transaksi' %}" method="post">
          {% csrf_token %}

          <!-- Jenis Transaksi -->
          <div class="mb-3">
            <label for="jenis" class="form-label">Jenis Transaksi</label>
            <select name="jenis" id="jenis" class="form-control" required onchange="toggleJenis()">
              <option value="" disabled selected>-- Pilih Jenis --</option>
              {% for jns in jenis %}
              <option value="{{ jns.jenis_id }}" data-kategori="{{ jns.kategori }}">{{ jns.nama }} </option>
              {% endfor %}
            </select>
          </div>

          <!-- Rekening Sumber (hanya untuk bank) -->
          <div class="mb-3" id="field_rek_sumber" style="display:none;">
            <label for="rekening_sumber" class="form-label">Rekening Sumber</label>
            <select name="rekening_sumber" id="rekening_sumber" class="form-control"  onchange="filterRekeningTujuan()">
              <option value="" disabled selected>-- Pilih Rekening --</option>
              {% for rek in rekening %}
              <option value="{{ rek.rek_id }}">{{ rek.nama_rek }} (Saldo: {{ rek.saldo|intcomma }})</option>
              {% endfor %}
            </select>
          </div>

          <!-- Rekening Tujuan -->
          <div class="mb-3">
            <label for="rekening_tujuan" class="form-label">Rekening Tujuan</label>
            <select name="rekening_tujuan" id="rekening_tujuan" class="form-control" required>
              <option value="" disabled selected>-- Pilih Rekening --</option>
              {% for rek in rekening %}
              <option value="{{ rek.rek_id }}">{{ rek.nama_rek }} (Saldo: {{ rek.saldo|intcomma }})</option>
              {% endfor %}
            </select>
          </div>

          <!-- Jumlah (hanya untuk bank) -->
         <div class="mb-3" id="field_jumlah" style="display:none;">
          <label for="jumlah_display" class="form-label">Jumlah</label>
          <!-- Input tampilan (user lihat ini) -->
          <input type="text" id="jumlah_display" class="form-control" placeholder="Masukkan jumlah transfer" oninput="formatJumlah()">

          <!-- Input asli (hidden, untuk dikirim ke server) -->
          <input type="hidden" name="jumlah" id="jumlah">
        </div>

          <!-- Barang & Qty (hanya untuk barang) -->
          <div class="mb-3" id="field_barang" style="display:none;">
            <label for="barang" class="form-label">Barang</label>
            <select name="barang" id="barang" class="form-control">
              <option value="" disabled selected>-- Pilih Barang --</option>
              {% for b in barang %}
              <option value="{{ b.barang_id }}">{{ b.nama }} (Stok: {{ b.stok }}, Harga: {{ b.harga|intcomma }})</option>
              {% endfor %}
            </select>
          </div>

          <div class="mb-3" id="field_qty" style="display:none;">
            <label for="qty" class="form-label">Jumlah Barang</label>
            <input type="number" name="qty" id="qty" class="form-control" min="1" placeholder="Masukkan jumlah barang">
          </div>

          <!-- Keterangan -->
          <div class="mb-3">
            <label for="keterangan" class="form-label">Keterangan</label>
            <textarea name="keterangan" id="keterangan" class="form-control" rows="3" placeholder="Opsional"></textarea>
          </div>

          <input type="hidden" name="dibuat_oleh" value="{{ request.user.user_id }}">

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Simpan</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
			<div class="modal fade" id="modaldemo1" tabindex="-1" aria-labelledby="modaldemo1Label" aria-hidden="true">
				<div class="modal-dialog" role="document">
				  <div class="modal-content">
					<div class="modal-header">
					  <h5 class="modal-title" id="modaldemo1Label">Tambah Rekening</h5>
					  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form action="{% url 'app:tambah_rekening' %}" method="post" onsubmit="return validateSaldo()">
							{% csrf_token %}
							<div class="mb-3">
								<label for="nama_rek" class="form-label">Nama Rekening</label>
								<input type="text" name="nama_rek" class="form-control" id="nama_rek" list="listRekening" placeholder="Contoh: BRI, BNI, Dana, Gopay" required />
							<div class="mb-3">
								<label for="saldo_awal" class="form-label">Masukkan Saldo Awal</label>
								<input type="number" name="saldo_awal" class="form-control" id="saldo_awal" min="0" required />
								<small>Pastikan Input Dengan Angka</small>
							</div>
							<input type="hidden" name="id_pemilik" class="form-control" id="id_pemilik" value="{{ request.user.user_id }}" required />
							<div class="modal-footer">
								<button type="submit" class="btn btn-primary">Save changes</button>
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							</div>
						</form>
					</div>
				  </div>
				</div>
			  </div>

			  

<script>
function toggleJenis() {
  const select = document.getElementById("jenis");
  const kategori = select.options[select.selectedIndex].getAttribute("data-kategori");

  // reset semua dulu
  document.getElementById("field_rek_sumber").style.display = "none";
  document.getElementById("field_jumlah").style.display = "none";
  document.getElementById("field_barang").style.display = "none";
  document.getElementById("field_qty").style.display = "none";

  // tampilkan sesuai kategori
  if (kategori === "KEUANGAN") {
    document.getElementById("field_rek_sumber").style.display = "block";
    document.getElementById("field_jumlah").style.display = "block";
  } else if (kategori === "BARANG") {
    document.getElementById("field_barang").style.display = "block";
    document.getElementById("field_qty").style.display = "block";
  }
}

function filterRekeningTujuan() {
  const sumber = document.getElementById("rekening_sumber").value;
  const tujuan = document.getElementById("rekening_tujuan");

  for (let option of tujuan.options) {
    if (option.value === sumber && sumber !== "") {
      option.style.display = "none"; // sembunyikan rekening yg dipilih
    } else {
      option.style.display = "block"; // tampilkan lainnya
    }
  }

  // reset kalau tujuan = sumber
  if (tujuan.value === sumber) {
    tujuan.value = "";
  }
}

function formatJumlah() {
  let displayInput = document.getElementById("jumlah_display");
  let hiddenInput = document.getElementById("jumlah");

  // Hilangkan semua karakter non-angka
  let value = displayInput.value.replace(/[^0-9]/g, "");

  if (value === "") {
    hiddenInput.value = "";
    displayInput.value = "";
    return;
  }

  // Simpan angka asli ke input hidden
  hiddenInput.value = value;

  // Format ribuan (pakai titik, contoh: 1000000 -> 1.000.000)
  displayInput.value = new Intl.NumberFormat("id-ID").format(value);
}
</script>
			{% endblock %}